* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }


  #header{
    display: flex;
    position: fixed;
    background-color: rgb(64, 107, 81);
    width: 100%;
    align-items: center;
    padding: 10px 10px;
    justify-content:space-between;
    
  }
  
  
  #header p {
    font-size: 25px;
    color: bisque;
    font-family:serif;
    margin-left: 40px;
    
  }

  #header a{
text-decoration: none;
font-family:serif;
color: bisque;
font-size: 20px;


  }

#header nav{
display:flex;
 align-self: center;
justify-content: space-evenly;
width: 40%;
  }

  #topo{
  background-image: url(img02.png);
  
  width: 100%;
  }
  